textarea {
    width:100%;
}

input[type=submit] {
    margin-top:10px;
}

.ifamebox{
    position: relative;
    width: 200;
    padding-bottom: 56.25%;
}
.ifamebox{
    position: absolute;
    width: 100%;
    height: 100%;
}