{% extends 'base3.html' %}


{% block content %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-left justify-content-left text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-dark font-weight-bold"></h1>
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-dark-75 mb-5"></p>
                    <a>Ownerless pets</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="page-section bg-primary" id="sectionpart1">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-12 text-center">    
                    <p class="arrow">&#9660;</p>
                    <hr class="divider" />
                    <p class="text-white-75 mb-4" align="middle">
                        <h2 class="text-white mt-0" id="sub">Data Analysis - status</h2>
                    </p>    
                </div>
                <a class="btn btn-primary btn-xl" href="#1" id="num1">
                    part.1
                </a>
                <div class="col-lg-10 text-center">
                    <div class="row"> 
                        <div>
                            <p class="text-white-75 mb-4">
                                <p>1.1 지역별 발생 현황 </p>
                                <div class="bk-root" id="e559dd91-f32a-4386-867d-6a81c088274c" data-root-id="2142"></div>
                            </p>
                        </div>
                        <div>
                            <p class="text-white"> 
                                <P class="w3">" <span>대도시</span>에서는 <span>특정주기</span>마다 발생건수 변동이 크게 나타나고 있습니다. </P>
                                <P class="w"> 또한 <span>경남</span>의 경우 다른 지역에 비해 매년 <span>발생률이 크게 증가</span>하고 있습니다. "</P>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section bg-primary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-10 text-center">
                    <div class="row"> 
                        <div>
                            <p class="text-white-75 mb-4">
                                <p>1.2 지역별 평균 현황 </p>
                                <div class="bk-root" id="8746bffc-d474-46ef-b821-d22b6c92d2a3" data-root-id="4419"></div>
                            </p>
                        </div>
                        <div>
                            <p class="text-white"> 
                                <P class="w3">" <span>경기도</span>가 압도적으로 높고 그 뒤를 <span>경남</span>이 차지하고 있는 것을 알 수 있습니다. " </P>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section bg-primary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <a class="btn btn-primary btn-xl" href="#2" id="num2">
                    part.2
                </a>
                <div class="col-lg-10 text-center">
                    <div class="row"> 
                        <div>
                            <p class="text-white-75 mb-4">
                                <p>2.1 전국 발생 현황 </p>
                                <div class="bk-root" id="07d9b118-66bc-4900-b109-8064e0758612" data-root-id="3897"></div>
                            </p>
                        </div>
                        <div>
                            <p class="text-white">  
                                <P class="w3">" 변동폭이 있지만 점점 <span>증가하는 추세</span>를 보이고 있습니다. " </P>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section bg-primary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-11 text-center">
                    <div class="row"> 
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <p class="arrow">&#8665;</p>
                            <p class="text-white-75 mb-4">
                                <p>2.2 전국 월별 평균 </p>
                                <div class="bk-root" id="98c25e4d-95c3-4ff0-8280-67e3984bbd0a" data-root-id="4757"></div>
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <p class="arrow">&#8664;</p>
                            <p class="text-white-75 mb-4">
                                <p>2.3 전국 연도별 평균 </p>
                                <div class="bk-root" id="85c88f51-3d9c-4867-a351-2c122bc3cb39" data-root-id="5106"></div>
                            </p>
                        </div>
                        <div>
                            <p class="text-white"> 
                                <P class="w3">" 더 자세히, 월별로 <span>5월 ~ 9월사이</span> 가장 많이 발생합니다. </P>
                                <P class="w">  2018년도까지 꾸준히 상승세를 보이다가 <span>2019년 들어 소폭 감소</span>하였습니다. "</P>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section bg-primary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <a class="btn btn-primary btn-xl" href="#3" id="num3">
                    part.3
                </a>
                <div class="col-lg-12 text-center">
                    <div class="row"> 
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <p class="text-white-75 mb-4">
                                <p>3.1 유기/유실동물 처리 현황 </p>
                                <div class="bk-root" id="d68830b2-449e-48a4-8e7f-f110de715bae" data-root-id="13934"></div>
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <p class="text-white"> 
                                <P class="w2">" <span>입양 31%, 자연사 26.9%, 안락사22.4%, 반환 13.2%</span> 순입니다. </P>
                                <P class="w"> 입양이 가장 많은 비율을 차지하지만 안락사와 자연사를 합치면 </P>
                                <P class="w"> <span class="sp1">약 49.3%의 유기-유실 동물들이 보호소에서 생을 마감</span>하고 있습니다. " </P>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section bg-primary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-11 text-center">
                    <div class="row"> 
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <p class="text-white-75 mb-4">
                                <p>3.2 연도별 안락사 현황 </p>
                                <div class="bk-root" id="dc9c4ded-d000-49f4-b457-83aee3e5fccd" data-root-id="14527"></div>
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <p class="text-white-75 mb-4">
                                <p>3.3 연도별 입양 현황 </p>
                                <div class="bk-root" id="ef52510f-77b0-4e64-82a5-65bd66d50cf8" data-root-id="15347"></div>
                            </p>
                        </div>
                        <div>
                            <p class="text-white"> 
                                <P class="w3">" 2019년도를 기점으로 유기-유실동물의 발생 감소와 더불어 대중들의 인식 변화로 인해 </P>
                                <P class="w"> <span>안락사률은 급히 줄어들고 입양율은 매년 증가하는 추세</span>를 보이고 있습니다. " </P>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- others -->
    <section class="page-section bg-primary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-12 text-center">    
                    <p class="text-white-75 mb-4" align="middle">
                        <hr class="divider" />
                        <h2 class="text-white mt-0" id="sub2">Data Analysis - others</h2>
                    </p>    
                </div>
                <a class="btn btn-primary btn-xl" href="#4" id="num4">
                    part.4
                </a>
                <div class="col-lg-10 text-center">
                    <div class="row"> 
                        <div>
                            <p class="text-white-75 mb-4">
                                <p>4.1 기타 유기/유실 동물 현황 </p>
                                <div class="bk-root" id="3ce347f3-91d7-43de-a8e6-f55e4a278259" data-root-id="7060"></div>
                            </p>
                        </div>
                        <div>
                            <p class="text-white-75 mb-4">
                                <p>4.2 기타 유기/유실 누계 </p>
                                <div class="bk-root" id="21240200-3c2f-49e0-af4c-c3b2e90da399" data-root-id="8232"></div>
                            </p>
                        </div>
                        <div>
                            <p class="text-white"> 
                                <P class="w3">" <span>토끼</span>는 매년 타종에 비해 압도적으로 많이 발생하고, </P>
                                <P class="w4">   <span>햄스터</span>는 토끼 발생률의 약 절반을 차지하면서 2위를 차지하고 있음을 알 수 있습니다. " </P>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Our Services</h2>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="fas fa-chart-area fa-3x"></i></div>
                        <h3 class="h4 mb-2">Status</h3>
                        <p class="text-muted mb-0">유기동물 현황을 알 수 있습니다</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="fas fa-vector-square fa-3x"></i></div>
                        <!-- <i class="fas fa-digital-tachograph fa-3x"></i> -->
                        <h3 class="h4 mb-2">Other</h3>
                        <p class="text-muted mb-0">기타 유기동물 관련 정보를 알 수 있습니다</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio-->
    <!-- Call to action-->
    <section class="page-section bg-dark text-white">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4">If you have any questions or comments, just contact us!</h2>
            <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">contact us</a>
        </div>
    </section>
    <!-- Contact-->
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright & copy ; 2021 - Company *4조*</div></div>
    </footer>
    {% include 'scripts1.html' %}
    {% include 'p1-4.html' %}
    {% include 'p1-1-1.html' %}
    {% include 'p1-2.html' %}
    {% include 'p1-3.html' %}
    {% include 'p3-1.html' %}
    {% include 'p3-2.html' %}
    {% include 'p3-3.html' %}
    {% include 'p2-1.html' %}
    {% include 'p2-2.html' %}
    {% include 'p4-2.html' %}
{% endblock %}