{% extends 'base3.html' %}


{% block content %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-dark font-weight-bold"></h1>
                </div>
                <div class="col-lg-8 align-self-baseline">
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="page-section bg-primary" id="status">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Ownerless pets data analysis</h2>
                    <hr class="divider" />
                    <p class="text-dark mb-4">
                        <a class="btn btn-primary btn-xl" href="#status"><i class="fas fa-sort-down fa-2x"></i>
                              Status
                        </a>
                        <p>지역별 현황</p>
                        <div class="bk-root" id="e559dd91-f32a-4386-867d-6a81c088274c" data-root-id="2142"></div>
                        <p></p>
                        <div class="bk-root" id="8746bffc-d474-46ef-b821-d22b6c92d2a3" data-root-id="4419"></div>
                        <p></p>
                        <p>전국 현황</p>
                        <div class="bk-root" id="07d9b118-66bc-4900-b109-8064e0758612" data-root-id="3897"></div>
                        <p></p>
                        <div class="bk-root" id="98c25e4d-95c3-4ff0-8280-67e3984bbd0a" data-root-id="4757"></div>
                        <p></p>
                        <div class="bk-root" id="85c88f51-3d9c-4867-a351-2c122bc3cb39" data-root-id="5106"></div>
                        <p></p>
                        <p>처리 현황</p>
                        <div class="bk-root" id="d68830b2-449e-48a4-8e7f-f110de715bae" data-root-id="13934"></div>
                        <p></p>
                        <div class="bk-root" id="dc9c4ded-d000-49f4-b457-83aee3e5fccd" data-root-id="14527"></div>
                        <p></p>
                        <div class="bk-root" id="ef52510f-77b0-4e64-82a5-65bd66d50cf8" data-root-id="15347"></div>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- others -->
    <section class="page-section bg-primary" id="others">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0"></h2>
                    <hr class="divider" />
                    <p class="text-dark mb-4">
                        <a class="btn btn-primary btn-xl" href="#others"><i class="fas fa-sort-down fa-2x"></i>
                            Others
                        </a>
                        <p></p>
                        <div class="bk-root" id="3ce347f3-91d7-43de-a8e6-f55e4a278259" data-root-id="7060"></div>
                        <p></p>
                        <div class="bk-root" id="21240200-3c2f-49e0-af4c-c3b2e90da399" data-root-id="8232"></div>
                        <p></p>
                        <div class="bk-root" id="be2fce6b-e640-441b-9951-f59ec8a6b3c4" data-root-id="16189"></div>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Our Services</h2>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="fas fa-chart-area fa-3x"></i></div>
                        <h3 class="h4 mb-2">Status</h3>
                        <p class="text-muted mb-0">유기동물 현황을 알 수 있습니다</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="fas fa-vector-square fa-3x"></i></div>
                        <!-- <i class="fas fa-digital-tachograph fa-3x"></i> -->
                        <h3 class="h4 mb-2">Other</h3>
                        <p class="text-muted mb-0">기타 유기동물 관련 정보를 알 수 있습니다</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio-->
    <!-- Call to action-->
    <section class="page-section bg-dark text-white">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4">If you have any questions or comments, just contact us!</h2>
            <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">contact us</a>
        </div>
    </section>
    <!-- Contact-->
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright & copy ; 2021 - Company *4조*</div></div>
    </footer>
    {% include 'scripts1.html' %}
    {% include 'p1-4.html' %}
    {% include 'p1-1-1.html' %}
    {% include 'p1-2.html' %}
    {% include 'p1-3.html' %}
    {% include 'p3-1.html' %}
    {% include 'p3-2.html' %}
    {% include 'p3-3.html' %}
    {% include 'p2-1.html' %}
    {% include 'p2-2.html' %}
    {% include 'p4-2.html' %}
{% endblock %}